/*Nota inicial, se usa metodologia de clases de heredacion
esto con el proposito de mantener el orden y no perderse
a la hora de realizar cambios

--- Tambien se maneja outline para el proceso de maquetado, por lo que
se comentan los atributos de estos mismos.


*******************************************************************


				INICIO DEL ESTILO DE LA PAGINA DE ADEO
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/*Estilos generales.*/
*{
	padding: 0;
	margin: 0;
}

#wrapper{
	width: 100%;
}

/********************************************************************************/

/* Comienza el estilo del navbar de la pagina */

header{
	position:fixed;
	z-index:999;
	background-color:rgba(0,0,0, 0.7);
	width: 100%;
	height: 60px;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;


	/*outline:1px solid green;*/
}

header .menu{
	position:relative;
	right:120px;


	/*outline:1px solid red; */
}

header .logo{
	margin-top:-27px;
	margin-left:100px;
	height: 200%;
	width: 170px;
}

header .menu .menu__anchor{
	line-height:60px;
	color:white;
	text-decoration:none;
	margin-right:40px;
	font-family:arial;
	font-size:14px;
}

header .menu .menu__anchor:hover{
	border-bottom:3px solid #2BB4F3;
}

.active{
	border-bottom:3px solid #2BB4F3;
}


/*Fin del estilo del navbar*/

/********************************************************************************/

/*Inicio del estilo de la seccion de bienvenida*/

#bienvenida{
	position:relative;
	min-height: 100vh;
	background-image:url(../images/Manosprincipal.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.bienvenida__titulo{
	position:absolute;
	font-family:arial;
	font-weight:800;
	font-size:40px;
	letter-spacing:3px;
	color:white;
	text-align:right;
	width:700px;
	right:150px;
	top: 50%;
	transform:translateY(-50%);
}

.bienvenida__boton{
	position:absolute;
	box-sizing:border-box;
	padding:20px 45px;
	text-decoration:none;
	font-family:arial;
	font-weight:700;
	font-size:18px;

	/*outline:1px solid red;*/
}

.bienvenida__cotizar{
	right:355px;
	top: 66%;
	transform:translateY(-50%);
	color:#666;
	background-color:white;
}

.bienvenida__contacto{
	right:150px;
	top: 66%;
	transform:translateY(-50%);
	color:white;
	background-color:#444;
}


/*Fin del estilo de la seccion de inicio */

/********************************************************************************/

/*Inicio del estilo de la seccion de caracterisitcas*/


#caracteristicas{
	position:relative;
	min-height: 400px;
	max-height:100vh;
	width: 100%;
	background-color:white;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.caracterisitcas__caracteristica{
	cursor:pointer;
	margin-bottom:40px;
	position:relative;
	margin:auto;
	height:170px;
	width: 400px;
	box-sizing:border-box;
	padding:27px;
	background-color:#F5F5F5;
}

.caracterisitcas__caracteristica .img{
	transition:1s;
	position:absolute;
	background-color:#777;
	outline:none;
	width: 60px;
	height: 60px;
	top: -30px;
	border-radius:50%;
	border:4px solid white;
	color:white;
	text-align:center;
	font-size:30px;
	line-height:60px;
}

.caracterisitcas__caracteristica h2{
	margin-top:10px;
	font-size:20px;
	font-family:arial;
	letter-spacing:1.1px;
	color:#555;
}

.caracterisitcas__caracteristica .caracteristicas__borde{
	position:absolute;
	transition:1s;
	width: 60px;
	left: 190px;
	top:68px;
	background-color:white;
	height: 3px;
}

.caracterisitcas__caracteristica p{
	margin-top:20px;
	font-family:arial;
	line-height:24px;
	color:#777;
}

.caracterisitcas__caracteristica:hover > .caracteristicas__borde{
	left:30px;
	background-color:#2BB4F3;
}

.caracterisitcas__caracteristica:hover > .img{
	background-color:#2BB4F3;
}

/*Fin del estilo de la seccion de caracteristicas*/

/********************************************************************************/

/*Inicio de la seccion de las areas (IMAGEN CON ICONOS)*/

#imagen-areas{
	height: 70vh;
	background-size:100% 100%;
	background-image:url(../images/servicios.png);
	position:relative;
}

.bajar{
	transition:.5s;
	text-align:center;
	line-height:40px;
	position:absolute;
	width: 30px;;
	height: 30px;
	margin-left:50%;
	bottom: 40px;
	font-family: 'Roboto Mono', monospace;
	font-size:27px;
	font-weight:900;
	padding:10px;
	color:black;
	border-radius:5px;
	background-color:rgba(255,255,255, 0.6);
	text-decoration:none;
	display:block;
	animation: move 2s infinite;
	transform:translateX(-50%);


}

.bajar p{
	position: absolute;
	left:35%;
	top:10%;
	text-decoration:none;
	color:black;


}

.bajar:hover{
	background-color:rgba(255,255,255, 1);
}

@keyframes move{
	0%{transform: translate(-50%,15px);}
	50%{transform: translate(-50%,0px);}
	70%{transform: translate(-50%, 0px);}
	100%{transform:translate(-50%,15px); }
}

/*Fin de la seccion de las areas (IMAGEN CON ICONOS)*/

/*******************************************************************************

/*Inicio de la seccion de servicios*/


#servicios{
	position:relative;
	min-height:100vh;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

#servicios .servicios__espacio{
	width: 100%;
	height:200px;


	/*outline:1px solid black;*/
}

#servicios img{
	position:absolute;
	width: 300px;
	height: 240px;
	left:50%;
	transform:translateX(-210px);


	/*outline:1px solid black;*/
}

#servicios h1{
	font-family:arial;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:72px;
	color:#2BB4F3;
}

#servicios .servicios__linea{
	position:absolute;
	left:50%;
	transform:translateX(-40px);
	top:140px;
	width: 70px;
	height: 4px;
	background-color:#999;
}

#servicios .servicio{
	margin-top:20px;
	width: 320px;
	box-sizing:border-box;
	padding:15px;

	/*outline:1px solid black;*/
}

#servicios .servicio h2{
	font-size:19px;
	font-family:arial;
	color:#555;
}

#servicios .servicio div{
	font-size:25px;
	width: 60px;
	height: 60px;
	line-height:60px;
	text-align:center;
	color:white;
	margin-right:7px;
	border-radius:50%;
	display:inline-block;
}

#servicios .servicio p{
	margin-top:5px;
	font-family:arial;
	color:#777;
}

.arqui{
	background-color:#D07CD5;
}

.conta{
	background-color:#931D1D;
}

.dise{
	background-color:#E64418;
}

.elect{
	background-color:#E3EA1D;
}

.info{
	background-color:#120C8A;
}

.ilu{
	background-color:#F6A444;
}

.panel{
	background-color:#208C37;
}

/*Fin de la seccion de servicios*/

/*******************************************************************************

/*Inicia seccion de como trabajamos*/

#como-trabajamos{
	position:relative;
	min-height:100vh;
	background-image:url(../images/Comotrabajamos.jpg);
	background-size:100% 100%;
}

.informacion{
	box-sizing:border-box;
	padding: 30px;
	position:absolute;
	top:50%;
	margin-left:100px;
	transform:translateY(-50%);
	background-color:rgba(255, 255, 255, 0.9);
	width:900px;
	height:350px;
}

.informacion h1{
	margin-top:20px;
	color:#555;
	font-family:arial;
	font-weight:400;
}

.informacion p{
	font-family:arial;
	margin-top:30px;
	color:#777;
}

.informacion__borde{
	position:absolute;
	width: 60px;
	height: 3px;
	background-color:#2BB4F3;
	left:225px;
}

.subsecciones{
	margin-top:30px;
	width: 100%;
	height: 190px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;

	/*outline:1px solid black;*/
}


.subseccion{
	width: 270px;
	height: 190px;


	/*outline:1px solid red;*/
}

.check{
	position:absolute;
	text-align:center;
	line-height:45px;
	color:#444;
	width: 40px;
	height: 40px;
	font-size:25px;
	border-radius:50%;
	background-color:white;
}

.subseccion h3{
	font-family:arial;
	font-weight:400;
	color:#555;
	position:absolute;
	margin-left:50px;
	margin-top:10px;
}

.subseccion p{
	color:#777;
	margin-left:50px;
	margin-top:40px;
}

/*Fin de la seccion de como trabajamos*/

/*******************************************************************************

/*Inico de la seccion de Nuestro Equipo*/

#nuestro-equipo{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

#nuestro-equipo .equipo__espacio{
	width: 100%;
	height:200px;


	/*outline:1px solid black;*/
}

#nuestro-equipo img{
	position:absolute;
	width: 300px;
	height: 240px;
	left:50%;
	transform:translateX(-275px);


	/*outline:1px solid black;*/
}

#nuestro-equipo h1{
	font-family:arial;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:72px;
	color:#2BB4F3;
}

#nuestro-equipo .equipo__linea{
	position:absolute;
	left:50%;
	transform:translateX(-40px);
	top:140px;
	width: 70px;
	height: 4px;
	background-color:#999;
}

#c-slider{
	min-height:500px;
	margin:auto;
	padding-top:10px;
	width: 100%;
	position:relative;
  	overflow:hidden;
  	margin-bottom:50px;
}

.content{
	display:flex;
	width: 500%;
}

.content section{
	box-sizing:border-box;
	padding:20px;
	width: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	background-size:100% 100%;
}

.content section h1{
	font-family:arial;
	position:absolute;
}

#btn-prev, #btn-next{
	color:white;
	width: 40px;
	height: 40px;
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	line-height:38px;
	font-size:30px;
	font-family: monospace;
	text-align:center;
	border-radius:50%;
	cursor:pointer;
}

/*section img{
	width: 100%;
	height: 450px;
}*/

#btn-prev{
	left:10px;
}

#btn-next{
	right: 10px;
}

#btn-prev:hover , #btn-next:hover{
	transition:1s;
	background-color:rgba(0, 0, 0, 0.9);
}

.persona{
	margin-top:60px;
	width: 500px;
	height: 200px;
	background-color:#E7E1E1;
	position:relative;

	/*outline:1px solid red;*/
}

.persona img{
	margin-top:-20px;
	width: 100px;
	height:130px;
	border:5px solid #A9A9A9;
	margin-left:20px;
	background-color: white/* #E7E1E1*/;
}

.persona h4{
	position:absolute;
	padding:10px 20px 20px 20px;
	background-color:white;
	width: 200px;
	top: 20px;
	left: 120px;
	color:#929191;
}

.persona .triangulo1{
	position:absolute;
	width: 0;
	height: 0;
	left:193px;
	top:0px;
	border-left: 7px solid transparent;
	border-right: 10px solid transparent;
	border-top: 50px solid white;
}

.persona h5{
	position:absolute;
	top: 60px;
	width:127px;
	left: 120px;
	padding:10px 40px 10px 20px;
	background-color:#DDD8D8;
	color:#8C8888;
}

.persona .triangulo2{
	position:absolute;
	width: 0;
	height: 0;
	left:123px;
	top:0px;
	border-left: 5px solid transparent;
	border-right: 7px solid transparent;
	border-top: 30px solid #DDD8D8;
}

.persona p{
	position:absolute;
	width: 300px;
	left:150px;
	top:110px;
	color:#777;
}

.persona .area{
	position:absolute;
	width: 40px;
	height: 40px;
	border-radius:50%;
	top: 100px;
	left:50px;
	line-height:40px;
	color:white;
	text-align:center;
	font-size:18px;

}

#informatica{
	background-image:url(../images/info.jpg);
}

#electricidad{
	background-image:url(../images/electricidad.jpg);
}

#arquitectura{
	background-image:url(../images/arqui.jpg);
}
#contabilidad{
	background-image:url(../images/contabilidad.jpg);
}
#diseno{
	background-image:url(../images/diseno.jpg);
}
/*

----------arqui{
	background-color:#D07CD5;
}

.---------conta{
	background-color:#931D1D;
}

.---------dise{
	background-color:#E64418;
}

.elect{
	background-color:#E3EA1D;
}

.---------info{
	background-color:#120C8A;
}

.ilu{
	background-color:#F6A444;
}

.panel{
	background-color:#208C37;
}

*/

/*Fin de la seccion de Nuestro Equipo*/

/*******************************************************************************\

/*Inicia la seccion del portafolio*/


#portafolio{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

#portafolio .inner-portafolio{
	width: 100%;
	height:200px;


	/*outline:1px solid black;*/
}

#portafolio img{
	position:absolute;
	width: 300px;
	height: 240px;
	left:50%;
	transform:translateX(-310px);
	z-index:-999;

	/*outline:1px solid black;*/
}

#portafolio h1{
	font-family:arial;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:92px;
	color:#2BB4F3;
}

#portafolio .portafolio__linea{
	position:absolute;
	left:50%;
	transform:translateX(30px);
	top:140px;
	width: 70px;
	height: 4px;
	background-color:#999;
}

.portafolio__secciones{
	margin-bottom:50px;
}

.portafolio__secciones a{
	/*float:right;*/
	margin:0 10px;
	font-size:15px;
	color:#333;
	text-decoration:none;
	font-family:arial;
	padding:10px 20px;
	background-color:#E5E1E1;
}

.portafolio__secciones a:hover{
	background-color:#3F3A7E;
	color:white;
}

.portafolio__galeria{
	width: 90%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding-bottom:50px;
}

.portafolio__galeria .image-holder{
	margin-top:5px;
	width: 300px;
	height: 190px;
	background-color:#999;
	position:relative;


	/*outline:1px solid red;*/
}

.portafolio__galeria .image-holder img{
	width: 100%;
	height: 100%;
}

.portafolio__galeria .image-holder a{
	text-decoration:none;
	transition:0.5s;
	position:absolute;
	width: 50px;
	height: 50px;
	background-color:white;
	border-radius:50%;
	text-align:center;
	line-height:55px;
	color:#666;

	display:none;
}

.portafolio__galeria .image-holder:hover > a{
	display:block;
}

.portafolio__galeria .image-holder a:hover{
	background-color:#666;
	color:white;
}

.portafolio__galeria .image-holder a:nth-child(2){
	left:155px;
	top:50%;
	transform:translateY(-50%);
}

.portafolio__galeria .image-holder a:first-child{
	left:95px;
	top:50%;
	transform:translateY(-50%);
}

/*Fin de la seccion del portafolio*/

/*******************************************************************************\

/*Inicio de la seccion de Impulsando su empresa*/

#impulsando{
	min-height:100vh;
	position:relative;
	background-image:url();
}

/*Fin de la seccion de Impulsando su empresa*/

/*******************************************************************************\
