/*Nota inicial, se usa metodologia de clases de heredacion
esto con el proposito de mantener el orden y no perderse
a la hora de realizar cambios

--- Tambien se maneja outline para el proceso de maquetado, por lo que
se comentan los atributos de estos mismos.


*******************************************************************


INICIO DEL ESTILO DE LA PAGINA DE ADEO
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto:100,300,400,700');
/*Estilos generales.*/
*{
	padding: 0;
	margin: 0 ;
}

#wrapper{
	width: 100%;
}

body{
	font-family: Roboto, sans-serif !important;
	font-size: 17px !important;
	font-weight: 300 !important;
}

nav{
	background: rgba(16,16,16,0.5);
	height: 76px;
}
legend{
	color: white !important;
}

.text-ligth{
	font-weight: 100 !important;
}
.link{
	color: #CDDC39 !important;
	cursor: pointer;
}
.link:hover{
	text-decoration: underline !important;
}
/********************************************************************************/

/* Comienza el estilo del navbar de la pagina */

.logo{
	margin-left:50px;
	height: 200%;
	width: 170px;
}
.navbar-toggler{
	margin-top: 25px;
	cursor: pointer;
}

.active{
	border-bottom:1px solid white !important;
}

.adjustcontent__centrar{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	padding-bottom:50px;
}

/*Fin del estilo del navbar*/

/********************************************************************************/

/*Inicio del estilo de la seccion de bienvenida*/

#myCarousel{
	background-color: rgba(16,16,16,0.5);
	max-height: 638px;
}
.carouse_img-1{
	background-image: url("../images/manosprincipal.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
.carouse_img-2{
	background-image: url("../images/led.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
.carouse_img-3{
	background-image: url("../images/paneles.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#bienvenida a{
	text-decoration:none;
}

#bienvenida a:hover{
	background-color:#444;
}

.bienvenida__cotizar{
	color:#666;
	background-color:white;
	cursor: pointer;
}

.bienvenida__contacto{
	color:white;
	background-color:#444;
	cursor: pointer;
}
.bienvenida__contacto:hover{
	color:#B0BEC5;
}
.bienvenida__contacto:focus{
	color:#B0BEC5;
}


/*Fin del estilo de la seccion de inicio */

/********************************************************************************/

/*Inicio del estilo de la seccion de caracterisitcas*/


#caracteristicas{
	position:relative;
	min-height: 500px;
	width: 100%;
	background-color:white;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}

.caracterisitcas__caracteristica{
	position:relative;
	margin: 30px 15px;
	height:300px;
	width: 400px;
	box-sizing:border-box;
	padding:27px;
	background-color:#F5F5F5;
	cursor: default;
}

.caracterisitcas__caracteristica .img{
	transition:1s;
	position:absolute;
	background-color:#777;
	outline:none;
	width: 60px;
	height: 60px;
	top: -30px;
	border-radius:50%;
	border:4px solid white;
	color:white;
	text-align:center;
	font-size:30px;
	line-height:54px;
}
.mision{
	background-color: #2196f3;
}
.vision{
	background-color: #FF9800;
}
.verde{
	background-color: #127E29;
}
.mision span{
	background-color: #03a9f4 !important;
}
.mision:hover > .caracteristicas__borde{
	background-color: #1972b9 !important;
}
.mision:hover > span{
	background-color: #1972b9 !important;
}
.vision span{
	background-color: #ffb23f !important;
}
.vision:hover > .caracteristicas__borde{
	background-color: #e49219 !important;
}
.vision:hover > span{
	background-color: #e49219 !important;
}
.verde span{
	background-color: #b4ce19 !important;
}
.verde:hover > .caracteristicas__borde{
	background-color: #4caf50 !important;
}
.verde:hover > span{
	background-color: #4caf50 !important;
}
.caracterisitcas__caracteristica h4{
	margin-top:10px;
	letter-spacing:1.1px;
	color:#555;
}

.caracterisitcas__caracteristica .caracteristicas__borde{
	position:absolute;
	transition:1s;
	width: 60px;
	left: 190px;
	top:68px;
	background-color:white;
	height: 3px;
}

.caracterisitcas__caracteristica p{
	font-weight: 300;
	margin-top:40px;
	line-height:24px;
	color:#fff;
}

.caracterisitcas__caracteristica:hover > .caracteristicas__borde{
	left:30px;
	background-color:#2BB4F3;
}

/*Fin del estilo de la seccion de caracteristicas*/

/********************************************************************************/

/*Inicio de la seccion de las areas (IMAGEN CON ICONOS)*/

#imagen-areas{
	height: 70vh;
	background-size:100% 100%;
	background-image:url(../images/logo-gris.png);
	position:relative;
}

.bajar{
	transition:.5s;
	text-align:center;
	line-height:40px;
	position:absolute;
	width: 40px;;
	height: 40px;
	margin-left:50%;
	bottom: 40px;
	font-family: 'Roboto Mono', monospace;
	font-size:27px;
	font-weight:900;
	padding:10px;
	color:black;
	border-radius:5px;
	background-color:rgba(255,255,255, 0.6);
	text-decoration:none;
	display:block;
	animation: move 2s infinite;
	transform:translateX(-50%);


}

.bajar p{
	position: absolute;
	line-height:20px;
	left:50%;
	transform:translateX(-50%);
	text-decoration:none;
	color:black;
}

.bajar:hover{
	background-color:rgba(255,255,255, 1);
}

@keyframes move{
	0%{transform: translate(-50%,15px);}
	50%{transform: translate(-50%,0px);}
	70%{transform: translate(-50%, 0px);}
	100%{transform:translate(-50%,15px); }
}

/*Fin de la seccion de las areas (IMAGEN CON ICONOS)*/

/*******************************************************************************

/*Inicio de la seccion de servicios*/
.servicios{
	min-height: 150px;
	margin-bottom: 10px;
}
.servicios-titulo{
	color: rgb(41, 43, 44);
	margin: 25px auto;
}
.txt-servicios{
	color: #FAFAFA;
	padding-top: 25px;
	text-align: center;
}
.btn-servicios{
	text-align: center;
}
.btn-servicios a{
	margin-top: 50px;
	margin-bottom: 50px;
}

.arqui{
	background-color:#9c27b0;
}

.conta{
	background-color:#931D1D;
}

.dise{
	background-color:#FF5722;
}

.elect{
	background-color:#FBC02D;
}

.info{
	background-color:#3f51b5;
}

.ilu{
	background-color:#8BC34A;
}

.panel{
	background-color:#4CAF50;
}

/*Fin de la seccion de servicios*/

/*******************************************************************************

/*Inicia seccion de como trabajamos*/

#como-trabajamos{
	position:relative;
	background-image:url(../images/Comotrabajamos.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.informacion{
	width: 75%;
	margin:auto;
	height: 100%;
	position: relative;
	background-color:rgba(255,255,255,0.9);
	box-sizing:border-box;
	padding:40px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.informacion h1{
	margin-top:20px;
	color:#555;
	font-family:arial;
	font-weight:400;
}

.informacion p{
	font-family:arial;
	margin-top:30px;
	color:#777;
}

.informacion__borde{
	position:absolute;
	width: 60px;
	height: 3px;
	background-color:#2BB4F3;
	left:445px;
	top: 110px;
}

.subsecciones{
	margin-top:30px;
	width: 100%;
	height: 190px;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;

	/*outline:1px solid black;*/
}


.subseccion{
	width: 295px;
	height: 190px;


	/*outline:1px solid red;*/
}

.check{
	position:absolute;
	text-align:center;
	line-height:45px;
	color:#444;
	width: 40px;
	height: 40px;
	font-size:25px;
	border-radius:50%;
	background-color:white;
}

.subseccion h3{
	font-family:arial;
	font-weight:400;
	color:#555;
	position:absolute;
	margin-left:50px;
	margin-top:10px;
}

.subseccion p{
	color:#777;
	margin-left:50px;
	margin-top:40px;
}

/*Fin de la seccion de como trabajamos*/

/*******************************************************************************

/*Inico de la seccion de Nuestro Equipo*/

#nuestro-equipo{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

#nuestro-equipo .equipo__espacio{
	width: 100%;
	height:200px;


	/*outline:1px solid black;*/
}

#nuestro-equipo img{
	position:absolute;
	width: 100px;
	height: 140px;
	left:50%;
	top: 30px;
	transform:translateX(-275px);


	/*outline:1px solid black;*/
}

#nuestro-equipo h2{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:72px;
	color:#37474f;
}

#nuestro-equipo .equipo__linea{
	position:absolute;
	left:50%;
	transform:translateX(-40px);
	top:140px;
	width: 70px;
	height: 4px;
	background-color:#999;
}

#c-slider{
	margin:auto;
	padding-top:30px;
	width: 100%;
	min-height:100vh;
	max-height:300vh;
	position:relative;
	overflow:hidden;
}

.content{
	display:flex;
	width: 500%;
}

.content section{
	min-height:100%;
	box-sizing:border-box;
	padding:20px;
	width: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	background-size:100% 100%;
}

.content section h1{
	position:absolute;
	top:50%;
	transform:translateY(-35%);
	margin:0 auto;
	z-index:990;
	width: 200px;
	height: 80px;
	border-radius:50%;
	font-size:30px;
	text-align:center;
	color:white;
	line-height:80px;
}

#btn-prev, #btn-next{
	color:white;
	width: 40px;
	height: 40px;
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	line-height:38px;
	font-size:30px;
	font-family: monospace;
	text-align:center;
	border-radius:50%;
	cursor:pointer;
}

/*section img{
width: 100%;
height: 450px;
}*/

#btn-prev{
	left:10px;
}

#btn-next{
	right: 10px;
}

#btn-prev:hover , #btn-next:hover{
	transition:1s;
	background-color:rgba(0, 0, 0, 0.9);
}

.persona{
	margin-top:60px;
	width: 500px;
	height: 200px;
	background-color:#E7E1E1;
	position:relative;

	/*outline:1px solid red;*/
}

.persona img{
	margin-top:-20px;
	width: 100px;
	height:130px;
	border:5px solid #A9A9A9;
	margin-left:20px;
	background-color: white/* #E7E1E1*/;
}

.persona h4{
	position:absolute;
	padding:10px 20px 20px 20px;
	background-color:white;
	width: 200px;
	top: 20px;
	left: 120px;
	font-size:18px;
	color:#929191;
}

.persona .triangulo1{
	position:absolute;
	width: 0;
	height: 0;
	left:193px;
	top:0px;
	border-left: 7px solid transparent;
	border-right: 10px solid transparent;
	border-top: 50px solid white;
}

.persona h5{
	position:absolute;
	top: 60px;
	width:127px;
	font-size:17px;
	left: 120px;
	padding:10px 40px 10px 20px;
	background-color:#DDD8D8;
	color:#8C8888;
}

.persona .triangulo2{
	position:absolute;
	width: 0;
	height: 0;
	left:123px;
	top:0px;
	border-left: 5px solid transparent;
	border-right: 7px solid transparent;
	border-top: 30px solid #DDD8D8;
}

.persona p{
	position:absolute;
	width: 300px;
	left:150px;
	top:110px;
	color:#777;
}

.persona .area{
	position:absolute;
	width: 40px;
	height: 40px;
	border-radius:50%;
	top: 100px;
	left:50px;
	line-height:40px;
	color:white;
	text-align:center;
	font-size:18px;

}

/*#informatica{
	background-image:url(../images/info.jpg);
}*/

#electricidad{
	background-image:url(../images/electricidad.jpg);
}

#arquitectura{
	background-image:url(../images/arqui.jpg);
}
#contabilidad{
	background-image:url(../images/contabilidad.jpg);
}
#diseno{
	background-image:url(../images/diseno.jpg);
}

.persona__checkbox{
	display:none;
}

.label:after{
	font-size:16px;
	content:"Mas informacion";
}

.label{
	display:none;
}

.label:hover{
	transition:.5s;
	cursor:pointer;
	color:#121E7B;
}

.persona__checkbox:checked ~ .persona__mas-informacion{
	display:block;
}

.persona__checkbox:checked ~ .label:after{
	content:"Ocultar";
}

/*

----------arqui{
background-color:#D07CD5;
}

.---------conta{
background-color:#931D1D;
}

.---------dise{
background-color:#E64418;
}

.elect{
background-color:#E3EA1D;
}

.---------info{
background-color:#120C8A;
}

.ilu{
background-color:#F6A444;
}

.panel{
background-color:#208C37;
}

*/

/*Fin de la seccion de Nuestro Equipo*/

/*******************************************************************************\

/*Inicia la seccion del portafolio*/


#portafolio{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

#portafolio .inner-portafolio{
	width: 100%;
	height:200px;


	/*outline:1px solid black;*/
}

#portafolio img{
	position:absolute;
	width: 100px;
	height: 140px;
	left:50%;
	transform:translateX(-330px);
	z-index:-999;

	/*outline:1px solid black;*/
}

#portafolio h1{
	font-family:arial;
	position:absolute;
	left:50%;
	z-index:-900;
	transform:translateX(-50%);
	top:42px;
	color:#2BB4F3;
}

#portafolio .portafolio__linea{
	position:absolute;
	left:50%;
	transform:translateX(30px);
	top:90px;
	width: 70px;
	height: 4px;
	background-color:#999;
}

.portafolio__secciones{
	margin-bottom:50px;
}

.portafolio__secciones a{
	/*float:right;*/
	margin:0 10px;
	font-size:15px;
	color:#333;
	text-decoration:none;
	font-family:arial;
	padding:10px 20px;
	background-color:#E5E1E1;
}

.portafolio__secciones a:hover{
	background-color:#3F3A7E;
	color:white;
}

.portafolio__galeria{
	width: 90%;
	margin:auto;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	padding-bottom:50px;
}

.portafolio__galeria .image-holder{
	margin-top:5px;
	width: 300px;
	height: 190px;
	background-color:#999;
	position:relative;


	/*outline:1px solid red;*/
}

.portafolio__galeria .image-holder img{
	width: 100%;
	height: 100%;
}

.portafolio__galeria .image-holder a{
	text-decoration:none;
	transition:0.5s;
	position:absolute;
	width: 50px;
	height: 50px;
	background-color:white;
	border-radius:50%;
	text-align:center;
	line-height:55px;
	color:#666;

	display:none;
}

.portafolio__galeria .image-holder:hover > a{
	display:block;
}

.portafolio__galeria .image-holder a:hover{
	background-color:#666;
	color:white;
}

.portafolio__galeria .image-holder a:nth-child(2){
	left:155px;
	top:50%;
	transform:translateY(-50%);
}

.portafolio__galeria .image-holder a:first-child{
	left:95px;
	top:50%;
	transform:translateY(-50%);
}

/*Fin de la seccion del portafolio*/

/*******************************************************************************\


/*******************************************************************************\

/*Inicio de la seccion de los partners*/

.partners__titulo{
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	z-index: 99;
}

.partners__titulo img{
	position:absolute;
	width: 100px;
	height: 140px;
	left:50%;
	top:30px;
	transform:translateX(-330px);
	z-index:-999;

	/*outline:1px solid black;*/
}

.titulos{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:72px;
	color:#fdc949;
}

.partners__titulo .portafolio__linea{
	position:absolute;
	left:50%;
	transform:translateX(30px);
	top:140px;
	width: 70px;
	height: 4px;
	background-color:#999;
}

#partners{
	padding-bottom:40px;
	position:relative;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	background-color: #263238;
}

#partners .partner{
	margin-top:200px;
	width: 400px;
	height: 180px;
}
section.contact {
  text-align: center;
  padding: 100px 0;
}
section.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
  font-weight: 300;
}
section.contact h2 i {
  color: #dd4b39;
}
section.contact ul.list-social {
  margin-bottom: 0;
}
section.contact ul.list-social li{
	display: inline-block;
}
section.contact ul.list-social li a {
  display: inline-block;;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}
section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}
section.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}
section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}
section.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}
section.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}
section.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}
.bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}
/*Fin de la seccion de los partners*/

/*******************************************************************************\

/*Inicio de la seccion de Contacto*/

/*Se realizan las validaciones para el webkit debido a */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

#contacto{
	position:relative;
	box-sizing:border-box;
	padding:30px;
	background-color: #263238;
	background-size:100% 100%;
	background-repeat:no-repeat;
}

#contacto .innerarea {
	right:10px;
	max-width: 400px;
	width: 100%;
	margin: auto;
	position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
	font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
	background: #F9F9F9;
	padding: 25px;
	margin: 0 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
	font-weight: 400;
}

fieldset {
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
	width: 100%;
	border: 1px solid #ccc;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
	background-color:#F5FBF5;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #4CAF50;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background: #43A047;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}

#contact input:focus,
#contact textarea:focus {
	outline: 0;
	border: 1px solid #aaa;
}

::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

/*Fin de la seccion de Contacto*/

/*******************************************************************************\

/*Inicio del footer de la pagina*/

.footer__section{
	background-color:#333;
	text-align: center;

}
.footer__section p{
	color: rgba(255, 255, 255, 0.3);
}

.dir{
	width:200px;
	font-size:19px;
	letter-spacing:0.9px
}

/*.icon{
	text-decoration:none;
	width: 35px;
	height: 35px;
	border-radius:50%;
	text-align:center;
	padding-top:5px;
	font-size:25px;
	background-color:#999999;
	display:inline-block;
	margin-right:20px;
	color:#333;
	z-index:999;
}*/

.icon:hover{
	color:white;
}

.dir{
	width:280px;
}

.copy{
	margin:0;
	width: 100%;
	margin-top:20px;
	border-top:1px solid #999999;
	padding:50px 0 1px 0;
	text-align: center;


 	/*outline:1px solid red;*/
}

.terms{
	padding-top:100px;
	width:140px;
}

.mapa{
	box-sizing:border-box;
	padding-right:10px;
}

/*Fin del footer de la pagina*/

.modal-body{
	font-weight: 300;
}
ul{
	list-style: none;
}

.clear{
	clear:both;
}
.img-equipo{
	height: 200px;
	width: 50%;
	margin-bottom: 15px;
}
.figcaption-equipo{
	height: 180px;
}
.padding-bot-equipo{
	padding-bottom: 25px;
}
/*******************************************************************************\

/*Media Queries*/

/*Large devices (desktops, less than 1200px)*/*/
@media (max-width: 1199px) {
}

@media (max-width:1080px) {
	#c-slider .content section h1{
		display:none;
	}
}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) {
	nav{
		height: auto;
	}
	.logo{
		margin-left: 0px;
		height: 100%;
    	width: 120px;
	}
	.bienvenida__titulo{
		right: 50px;
		font-size: 40px;
	}
	.informacion{
		margin-left: 20px;
	}
	.caracterisitcas__caracteristica{
		height: auto;
		width: auto;
	}

	#c-slider .content section h1{
		display:none;
	}
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) {

}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
	.initial{
		position: initial !important;
	}

	.persona .triangulo1 , .triangulo2 , .persona p{
		display:none;
	}

	.persona{
		width: 320px;
		height: 150px;
	}

	.persona .label{
		color:blue;
		cursor:pointer;
		display:block;
		position:absolute;
		left: 50%;
	}

	.persona__checkbox:checked ~ .persona__mas-informacion{
		display:block;
		box-sizing:border-box;
		padding:20px;
		left:100px;
		border-radius:30px;
		top:-15px;
		z-index:999;
		background-color:rgba(255,255,255, 1);
	}
	.partner{
		width: 250px !important;
	}
}
/*Fin del estilo de la pagina de ADEO*/
